@import "../style/global_style.css";
@import "../style/normalize.css";

.curs {
  margin-top: 35px;
}

.curs__main-text {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;

  margin: 0;
}

.curs__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.curs__text span {
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
}

.curs__text span:last-child {
  margin-bottom: 0;
}

.curs__block-main-text {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 20px;
}
.curs__list-numbers {
  padding-left: 30px;
}

.curs__strokes {
  list-style-position: outside;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */


  color: #02535F;

  text-decoration: underline;
  margin-bottom: 10px;
}

.curs__strokes:last-child {
  margin-bottom: 0;
}

.curs__block {
  width: 1140px;
  height: 215px;
  left: 150px;
  top: 410px;

  background: #F1F1F1;
  border-radius: 10px;

  padding-top: 25px;
  padding-left: 45px;

  margin-left: auto;
  margin-right: auto;
}

.curs__1 {

}

.curs__text-main{
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
}

.curs__text-1block {
  margin-bottom: 30px;
}

.curs__1-block {
  display: inline-block;
  margin-bottom: 30px;
}

.curs__1-block-2 {
  vertical-align: top;
  width: 490px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.curs__1-block-1 {
  width: 560px;
  height: 415px;
  margin-right: 25px;
}

.curs__1-block-2 span {
  display: block;
  padding-bottom: 30px;
}

.curs__2-block {
  display: inline-block;
}

.curs__2-block-1 {
  vertical-align: top;
  width: 480px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  margin-right: 38px;
}

.curs__2-block-2 {
  width: 560px;
  height: 279px;
}

.curs__2-block-1 span {
  display: block;
  padding-bottom: 30px;
}

.curs__2-block-1 span:last-child {
  padding-bottom: 0;
}

.curs__text-3 {
  margin-bottom: 30px;
}

.curs__text-3-stop {
  margin-bottom: 0;
}

.curs__img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.curs__block3-div {
  width: 1080px;
  height: 506px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;

  margin-bottom: 30px;
}

.curs__block3-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */


  color: #5E5E5E;
}

.curs__block3-div > img {
  margin-bottom: 15px;
}

.curs__block3-div-text {
  padding-left: 30px;
}

.curs__block-end {
  width: 1140px;
  height: 376px;

  background: #F1F1F1;
  border-radius: 10px;

  padding-top: 25px;
  padding-left: 30px;
}

.curs__end-text {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;

  margin-bottom: 19px;
}

.curs__list-end li {
  list-style-position: inside;
  list-style-type:"– ";
}

.curs__lists-end {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  margin-bottom: 9px;
}

.curs__lists-end:last-child {
  margin-bottom: 0;
}

.curs__list-end {
  margin-bottom: 29px;
}

.curs__end {
  margin-bottom: 60px;
  padding-bottom: 0;
}
